@* Lead card *@
@foreach (var project in ProjectsData.ProjectsList.Where(p => p.IsLeadProject && p.IsMainProject))
{
    <div class="row">
        <div class="col-12 d-flex justify-content-center mb-4">
            <div class="card card-leader mb-3 rounded-0 bg-light overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-4 lead-card-img-holder overflow-hidden">
                        <img src="@project.CardImage" class="card-img rounded-0" alt="@project.Title card image">
                    </div>
                    <div class="col-md-8 d-flex flex-column align-content-between">
                        <div class="card-body pb-0">
                            <h4 class="card-title fw-bold border-bottom border-3 d-inline border-primary">@project.Title</h4>
                            <p class="card-text mt-3">@project.Abstract</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted fw-bolder">
                                <span class="fw-bolder">Date:</span> @project.Date.ToString("dd MMMMM yyyy")
                            </small>
                        </div>
                    </div>
                </div>
                <div class="link-mask">
                    <div class="link-mask-link">
                        <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modal-@project.Id"> <i class="fas fa-eye me-3"></i>View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row row-cols-1 row-cols-md-2">

    @* Other cards *@
    @foreach (var project in ProjectsData.ProjectsList.Where(p => p.IsMainProject && p.IsLeadProject == false))
    {
        <div class="col-12 col-md-6 mb-2">
            <div class="card h-100 mb-3 rounded-0 bg-light overflow-hidden">
                <div class="row g-0">
                    <div class="col-12 col-xxxl-5 card-img-holder overflow-hidden">
                        <img src="@project.CardImage" class="card-img rounded-0" alt="@project.Title card image">
                    </div>
                    <div class="col-12 col-xxxl-7 d-flex flex-column align-content-between">
                        <div class="card-body pb-0">
                            <h4 class="card-title fw-bolder border-bottom border-3 d-inline border-primary">@project.Title</h4>
                            <div class="card-text mt-3">
                                @Html.Raw(project.Abstract)
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted fw-bolder">
                                <span class="fw-bolder">Date:</span> @project.Date.ToString("dd MMMMM yyyy")
                            </small>
                        </div>
                    </div>
                </div>
                <div class="link-mask">
                    <div class="link-mask-link">
                        <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modal-@project.Id"> <i class="fas fa-eye me-3"></i>View Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!--Projects Modals -->
<partial name="Partials/ProjectModal"/>