
@foreach (var project in ProjectsData.ProjectsList)
{
    <div class="modal" id="modal-@project.Id" tabindex="-1" aria-labelledby="modal title" aria-describedby="modal description" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content overflow-auto">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-end mb-5">
                        <button type="button" class="btn-close mt-4 mb-5 me-5" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5 mt-lg-5 mt-3">
                        <div class="owl-carousel owl-theme">
                            @foreach (var img in project.CarouselImages)
                            {
                                <div class="item">
                                    <img class="img-fluid" src="@img"/>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-12 mt-lg-5 col-lg-7">
                        <div class="modal-header border-0 pt-0 ">
                            <h3 class="fs-1 border-start border-5 border-primary">
                                <span class="ps-3 fw-bolder">@project.Title</span>
                            </h3>
                        </div>
                        <div class="modal-body pe-0 fs-6">
                            <p class="mb-4">
                                @project.Description
                            </p>
                            
                            <ul class="list-inline list-unstyled mb-0">
                                <li class="list-inline-item w-50"> <span class="fw-bolder me-2">Date:</span> @project.Date.ToString("dd MMMMM yyyy")</li>
                                <li class="list-inline-item"><span class="fw-bolder me-2">Technologies:</span> @string.Join(", ", project.Technologies) </li>
                            </ul>
                        </div>
                        <div class="modal-footer justify-content-start border-0 pt-0 mb-3">
                            <a href="@project.ProjectUrl" target="_blank" class="btn btn-secondary">Visit Project Page</a>
                            <a href="@project.GithubUrl" target="_blank" class="btn btn-primary text-light">Visit Project GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

